@import "../elements";

:host {
}

::content lmv-tree-node {
  &.selected {
    color: $color-2;
  }
  &.grayed {
    color: #999;
  }
}

::content lmv-tree-node.selected /deep/ div {
  text-decoration: underline;
}