// variables

$color-1: var(--lmv-color-1, #fff);
$color-2: var(--lmv-color-2, #0ff);;
$color-bg: var(--lmv-color-bg, rgba(0, 0, 0, 0.5));
$color-bg-hover: var(--lmv-color-bg-hover, rgba(0, 0, 0, 1.0));
$color-bg-anim-duration: 0.2s;

// style

:host {
  display: block;
  position: relative;
  line-height: 1;
}
