// variables

$color-1: var(--lmv-color-1, #fff);
$color-2: var(--lmv-color-2, #0ff);;
$color-bg: var(--lmv-color-bg, rgba(0, 0, 0, 0.5));

// style

:host {
  display: block;
  position: relative;
}
