node_modules
dist
test/temp
bower_components
.tmp
test/bower_components/
app/data
app/test.html

# SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json

#Webstorm
.idea