@import "../elements";

:host {
  display: block;
  color: $color-1;
  background-color: $color-bg;
}

#header, #content {
  padding: 0.6rem;
}

#header {
  font-size: 1.4rem;

  background-color: $color-bg;
  transition: background-color $color-bg-anim-duration;

  display: flex;

  .title {
    flex-grow: 1;
  }

  .icon {
    cursor: pointer;

    transition: transform $color-bg-anim-duration;
  }
}

:host([collapse]) > {
  #content {
    display: none;
  }

  #header .icon {
    transform: rotate(180deg);
  }
}

::content p {
  margin-top: 0;
}
