@import "../elements";

:host {
  color: $color-1;
  background-color: $color-bg;

  display: flex;
  flex-direction: column;
}

#header, #content {
  padding: 0.6rem;
}

#header {
  font-size: 1.4rem;
  cursor: move;
  user-select: none;

  background-color: $color-bg;
  transition: background-color $anim-duration;

  flex-shrink: 0;
  display: flex;

  .header {
    flex-grow: 1;
  }

  .icon {
    cursor: pointer;

    transition: transform $anim-duration;
  }
}

#content {
  overflow-x: hidden;
  overflow-y: auto;
}

:host([collapse]) > {
  #header .icon {
    transform: rotate(180deg);
  }
}

:host([_dragged]) {
  position: absolute;
}

::content p {
  margin-top: 0;
}

::content hr {
  @include hr-format();
}