@import "../elements";

:host {
  color: $color-1;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

$size: 90px;

.env {
  display: inline-flex;
  flex-direction: column;

  position: relative;
  width: $size;
  height: $size;

  margin: .36rem;

  cursor: pointer;

  border-radius: $border-radius;
  overflow: hidden;

  & > .img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
  }

  & > .label {
    background-color: $color-bg;

    font-size: .8rem;

    text-align: center;
    padding: .4em 0;

    width: 100%;
  }

  &:hover {
    box-shadow: 0 0px 10px $color-2;
  }
}
