@import "../elements";

:host {
  display: inline-block;
  color: $color-1;
  background-color: $color-bg;

  padding: .4em;

  cursor: pointer;

  transition: background-color $anim-duration;
}

:host(:hover), :host([active]) {
  background-color: $color-bg-hover;
}