@import "../elements";

:host {
  @include input-format();

  min-width: 5em;

  cursor: pointer;

  transition: border-color $anim-duration;
}

#display {
  height: 100%;

  display: flex;

  .label {
    flex-grow: 1;
  }
}

#options {
  position: fixed;
  background-color: $color-bg;
  z-index: 1;

  max-height: 200px;
  overflow-y: scroll;

  display: none;

  &[expanded] {
    display: block;
  }

  ::content option {
    min-width: 10em;
    width: auto;
    height: auto;
    font-size: 1em;
    padding: 0.4em;
    margin: 0;
    box-sizing: border-box;

    &:hover {
      background-color: $color-bg-hover;
    }
  }
}