@import "../elements";

:host {
  color: $color-1;
}

.wrapper {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .6em 0;
    border-bottom: 1px solid $color-1-dimmer;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border: none;
    }

    lmv-input-range {
      width: 40%;
    }
  }
}
