@import "../elements";

table {
  width: 100%;

  td.cell {
    padding: .2em 0;
  }
}

:host([right]) {
  td.cell {
    text-align: right;
  }
  td.cell:first-of-type {
    text-align: inherit;
  }
}