@import "../elements";

:host {
  @include input-format();

  width: 5em;

  cursor: pointer;

  transition: border-color $anim-duration;

  border-radius: 1em;

  padding: 2px calc(2px + .5em);

  #fill {
    width: 1em;
    height: 1em;
    background-color: $color-1;
    border-radius: 1em;
    margin-left: -.5em;
    transition: background-color $anim-duration;
  }
}

:host(:hover) {
  border-color: $color-2;
  #fill {
    background-color: $color-2;
  }
}