@import "../elements";

:host {
  color: $color-1;
  background-color: $color-bg;

  position: fixed;
  display: none;
  width: auto;

  z-index: 10;

  overflow: hidden;
  border-radius: $border-radius;
}

:host([show]) {
  display: flex;
}