@import "../elements";

:host {
}

lmv-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  font-size: 0.8rem;

  iron-icon.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: .2rem;
  }
}

lmv-context-menu {
  flex-direction: row;
}