@import "../elements";

:host {
  display: inline-block;
  padding: 2rem;
  border: $color-2 1px solid;
  color: $color-1;
  background-color: $color-bg;
}

.title {
  color: $color-2;
  font-size: 2rem;
}

.content {
  margin-top: 2rem;
}