@import "../elements";

:host {
  display: block;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

#viewer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#viewer ::content > lmv-viewer {
  width: 100%;
  height: 100%;
}

.toolbar-wrap {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  display: flex;

  .toolbar {
    margin: auto;
    font-size: 1.5rem;
    display: flex;
  }
}

lmv-panel {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 100%;
  max-width: 360px;
  max-height: 600px;
}

lmv-progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}