@import "../elements";

:host {
  // flex
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  color: $color-1;
}

#timeline {
  flex-grow: 1;
}

#timestamp {
  margin-left: .6em;
  text-align: right;
}